server:
  port: 9999

spring:
  application:
    name: JOB-GATEWAY
  cloud:
    nacos:
      server-addr: 192.168.207.129:8848
    gateway:
      routes:
        # 短信服务
        - id: sms_router
          uri: lb://JOB-SMS
          predicates:
            - Path=/api/captchas/**
          filters:
            - StripPrefix=1
        # 类别服务
        - id: categories_router
          uri: lb://JOB-CATEGORY
          predicates:
            - Path=/api/categories/**
          filters:
            - StripPrefix=1

        # 学生服务
        - id: students_router
          uri: lb://JOB-STUDENT  #注意:书写服务名不能是含有_
          predicates:
            - Path=/api/token/**,/api/tokens/**,/api/student/**
          filters:
            - StripPrefix=1    #去掉前缀filter 去掉请求路由中1级前缀   /captchas

        # 企业服务
        - id: company_router
          uri: lb://JOB-COMPANY
          predicates:
            - Path=/api/company/**
          filters:
            - StripPrefix=1


      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*" #允许所有域名访问
            allowedMethods: "*" #允许所有请求方式访问
            allowedHeaders: "*" #允许所有请求头可以访问
# Redis
  redis:
    host: 192.168.207.129
    port: 7000
    database: 0