server:
  port: 9991
spring:
  application:
    name: JOB_CATEGORY
#    数据库
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.18.207.129:3306/job_incon?characterEncoding=UTF-8
    username: root
    password: 111111
#    服务注册地址
  cloud:
    nacos:
      server-addr: 192.168.207.129:8848
#    配置mybatis
#    日志
logging:
  level:
    com.wly.dao: debug
#mybatis:
#  mapper-locations: classpath:com/wly/mapper/*.xml
#  type-aliases-package: com.wly.entity
