server:
  port: 9991
spring:
  application:
    name: JOB-CATEGORY
#    数据库
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.207.129:3306/job_incon?characterEncoding=UTF-8
    username: root
    password: 111111
#    服务注册地址
  cloud:
    nacos:
      server-addr: 192.168.207.129:8848

#    日志
logging:
  level:
    com.wly.mapper: debug
# Redis
#  redis:
#    host: 192.168.207.129
#    port: 7000
#    database: 0
mybatis:
  mapper-locations: classpath:com/wly/mapper/JobMapper.xml
